
@{
    ViewBag.Title = "Contact Us";
}
@section Scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
<div class="span12">
    <div class="whity content">
        <!-- Main Content Starts Here -->
        <!-- Content should be encloased inside div with the class "posts" -->
        <div class="posts">
            <!-- Each entry should be enclosed inside div with the class "entry" -->
            <div class="entry">
                <div class="padd">
                    <!-- Contact Page title -->
                    <h2>Contact Us</h2>
                    <!-- Contact Page Para -->
                    <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis.</p>
                </div>

                <div class="row">
                    <div class="span8">
                        <div class="padd">
                            <div class="co-form">
                                <form class="form-horizontal" method="post">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="name">Name</label>
                                            <div class="controls">
                                                <input type="text" class="input-medium" id="name" name="name" data-val="true" data-val-required="*">
                                                <span class="field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="email">Email</label>
                                            <div class="controls">
                                                <input type="text" class="input-medium" id="email" name="email" data-val="true" data-val-required="Not Valid">
                                                <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="website">Website</label>
                                            <div class="controls">
                                                <input type="text" class="input-medium" id="website" name="website" data-val="true" data-val-required="*">
                                                <span class="field-validation-valid" data-valmsg-for="website" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="comment">Message</label>
                                            <div class="controls">
                                                <textarea class="input-medium" id="comment" name="comment" rows="3" data-val="true" data-val-required="*"></textarea>
                                                <span class="field-validation-valid" data-valmsg-for="comment" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" class="btn">Send</button>
                                            @if (ViewBag.MailSent != null && ViewBag.MailSent)
                                            {
                                                <div>Mail Sent!</div>
                                            }
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="padd">
                            <p class="caddress">
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890.<br><br>
                                    <strong>Full Name</strong><br>
                                    <a href="mailto:#">first.last@gmail.com</a>
                                </address>
                            </p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <!-- Main Content Ends Here -->
    </div>

</div>

