@model IEnumerable<BoardSystems.Data.Topic>
@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script src="~/js/home-index.js"></script>
    }

<div data-ng-controller="homeIndexController">
    <div class="message-header">
        <h1>BoardSystems Messenger</h1>
        <p class="lead">Latest Messages...</p>
        <div>Message Count: {{ dataCount }}</div>
    </div>

    <div class="messages">
        <div class="message row" data-ng-repeat="i in data">
            <div class="title span10">
                {{ i.title }}
            </div>
            <div class="date span2">
                {{ i.created }}
            </div>
            <div class="contents span12">
                {{ i.body }}
            </div>
            <div class="toolbar span12">
                <button class="btn btn-primary reply-button">Reply</button>
            </div>
            <div class="replies span12">
                <div class="reply">
                    <div class="created pull-right">
                        Feb 28, 2013
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    </div>
                </div>
                <div class="reply">
                    <div class="created pull-right">
                        Feb 28, 2013
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    </div>
                </div>
                <div class="reply">
                    <div class="created pull-right">
                        Feb 28, 2013
                    </div>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    </div>
                </div>
            </div>
        </div>       
        
        
    </div>

    
</div>

